@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Slab:wght@900&display=swap");
.mentee_header {
  height: 15vh;
  background-color: #e1b812;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mentee_header h1 {
  text-align: center;
  font-size: 50px;
}